.profile_info {
    padding: 20px 100px 20px 20px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.avatar {
    height: 200px;
    width: 200px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRatcm_du_J02VPfWWd1OEQahSIFE_-nY1aDw&usqp=CAU") no-repeat center;
    background-size: cover;
}

.left_side {

}

.righ_side {
    font-size: 1.4em;
}

.contacts {
    list-style-type: none;
    padding-left: 0;
}