.navbar {
    grid-area: n;
    background-color: peachpuff;
    padding: 20px;
}

a {
    font-size: 1.3em;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    display: block;
    text-decoration: none;
}

a.unselected {
    color: fuchsia;
}

a.active {
    color: firebrick;
}

