.navbar {
    grid-area: n;
    background-color: peachpuff;
    padding: 20px;
}

.link {
    font-size: 1.3em;
    font-weight: bold;
}

.link a {
    width: 100px;
    padding: 5px;
    display: block;
    text-decoration: none;
}
