.App {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-areas:
        'h h'
        'c s'
    ;
}
